<html>
    <head>
        <title><%= title %></title>
       
    </head>
    <body>
        <div>
            <h7>Name : <%= users.name %></h7><br>
            <h7>Email : <%= users.email %></h7><br>
            <h7>Skills : <%= users.skills %></h7><br>
            <h7>Interests : <%= users.interests %></h7><br>
            <h7>Achievements: <%= users.achievements %></h7><br>
            <h5>Education</h5><br>
            <% for(education of users.education){ %>
                        
                <h7>Degree : <%= education.degree %></h7>
                <h7>University_Name : <%= education.university_name %></h7>
                <h7>Location : <%= education.location %></h7>
                <h7>Percentage : <%= education.percentage %></h7><br>
                    
            <%} %>
            <h5>Experience</h5><br>
            <% for(experience of users.experience){ %>
                        
                <h7>Position : <%= experience.position %></h7>
                <h7>Duration : <%= experience.duration %></h7>
                <h7>Location : <%= experience.location %></h7>
                <h7>Company_name : <%= experience.company_name %></h7><br>
                    
            <%} %>
            <h5>Projects</h5><br>
            <% for(project of users.project){ %>
                        
                <h7>Position : <%= project.title %></h7>
                <h7>Duration : <%= project.description %></h7>
                <h7>Location : <%= project.year %></h7><br>
              
                    
            <%} %>
        </div>
    </body>
</html>