<!-- <html>
    <head>
        <title><%= title %></title>
       
    </head>
    <body>
        <div>
            <h7>Name : <%= users.name %></h7><br>
            <h7>Email : <%= users.email %></h7><br>
            <h7>Skills : <%= users.skills %></h7><br>
            <h7>Interests : <%= users.interests %></h7><br>
            <h7>Achievements: <%= users.achievements %></h7><br>
            <h5>Education</h5><br>
            <% for(education of users.education){ %>
                        
                <h7>Degree : <%= education.degree %></h7>
                <h7>University_Name : <%= education.university_name %></h7>
                <h7>Location : <%= education.location %></h7>
                <h7>Percentage : <%= education.percentage %></h7><br>
                    
            <%} %>
            <h5>Experience</h5><br>
            <% for(experience of users.experience){ %>
                        
                <h7>Position : <%= experience.position %></h7>
                <h7>Duration : <%= experience.duration %></h7>
                <h7>Location : <%= experience.location %></h7>
                <h7>Company_name : <%= experience.company_name %></h7><br>
                    
            <%} %>
            <h5>Projects</h5><br>
            <% for(project of users.project){ %>
                        
                <h7>Position : <%= project.title %></h7>
                <h7>Duration : <%= project.description %></h7>
                <h7>Location : <%= project.year %></h7><br>
              
                    
            <%} %>
        </div>
    </body>
</html> -->
<!DOCTYPE html>
<html>
<head>
<title>Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Resume"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="name">
			<h1 class="quickFade delayTwo"><%= users.name %></h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:joe@bloggs.com" target="_blank"><%= users.email %></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
            <% for(experience of users.experience){ %>
			<div class="sectionContent">
				<article>
					<h2>Company:  <%= experience.company_name %></h2>
					<p class="subDetails">Duration:  <%= experience.duration %></p>
					<p>Position: <%= experience.position %></p>
					<p>Location:  <%= experience.location %></p>
				</article>
            </div>
            <%} %>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
            <% for(education of users.education){ %>
			<div class="sectionContent">
				<article>
					<h2>School Name:   <%= education.university_name %></h2>
					<p class="subDetails">Location:   <%= education.location %></p>
					<p>Degree:  <%= education.degree %></p>
					<p>Percentage:  <%= education.percentage %></p>
				</article>
            </div>
            <%} %>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
            <% for(project of users.project){ %>
			<div class="sectionContent">
				<article>
					<h2>Title:   <%= project.title %></h2>
					<p class="subDetails">Duration:  <%= project.year %></p>
					<p>Description:  <%= project.description %></p>
				</article>
            </div>
            <%} %>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills:  <%= users.skills %></h1>
			</div>
			
			
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Achievements: <%= users.achievements %></h1>
			</div>
			
			
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Interests:  <%= users.interests %></h1>
			</div>
			
			
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>