<!DOCTYPE html>
<html>
<head>
<title>Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Resume"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="?search_id=<%= search_id %>/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="name">
			<h1 class="quickFade delayTwo"><%= users.name %></h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><%= users.email %></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			<div class="sectionContent">
			    <% for(experience of users.experience){ %>
				<article>
					<h2><%= experience.company_name %></h2>
					<p class="subDetails"><%= experience.duration %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= experience.location %></p>
					<p class = "lastItem"><%= experience.position %></p>
				</article>
				<%} %>
            </div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			<div class="sectionContent">
			    <% for(education of users.education){ %>
				<article>
					<h2><%= education.university_name %></h2>
					<p class="subDetails"><%= education.location %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= education.percentage %></p>
					<p class = "lastItem"><%= education.degree %></p>
				</article>
				<%} %>
            </div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			<div class="sectionContent">
				<% for(project of users.project){ %>
				<article>
					<h2><%= project.title %></h2>
					<p class="subDetails"><%= project.year %></p>
					<p class = "lastItem"><%= project.description %></p>
				</article>
				<%} %>
            </div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
				<% var skillsArray = users.skills.split(','); 
				for(skill of skillsArray){%>
					<li><%= skill %></li>
					<%} %>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Achievements</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
				<% var achievementArray = users.achievements.split(',');
				for(achievement of achievementArray){%>
					<li><%= achievement %></li>
					<%} %>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Interests</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
				<% var interestsArray = users.interests.split(',');
				for(interest of interestsArray){%>
					<li><%= interest %></li>
				<%} %>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>