<html>
    <head>
        <title><%= title %></title>
       
    </head>
    <body>
        <div>
            <h7>Name : <%= users.name %></h7>
            <h7>Email : <%= users.email %></h7>
            <h7>Skills : <%= users.skills %></h7>
            <h7>Interests : <%= users.interests %></h7>
            <h7>Achievements: <%= users.achievements %></h7>
        </div>
    </body>
</html>