<html>
    <head>
        <title><%= title %></title>
       
    </head>
    <body>
        <div>
            <h7>Name : <%= user.name %></h7>
            <h7>Email : <%= user.email %></h7>
            <h7>Skills : <%= user.skills %></h7>
            <h7>Interests : <%= user.interests %></h7>
            <h7>Achievements: <%= user.achievements %></h7>
        </div>
    </body>
</html>